.navbar{
    background-color: #3863f1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    *{
        color:#fff;
        text-decoration: none;
        padding:0 1rem;
    }
}