.table{
    height: 40vh;
    background-color: #15ccae;
    .title{
        font-size: 2rem;
        color: #fff;
        padding:20px;
    }
    span{
        color: #fff;
        font-size: 1.5rem;
        padding: 10px;
    }
    input{
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        border: none;
        min-width:50px;
        max-width:50px;
    }
}